@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JejuHallasan";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: JejuHallasan;
}

body {
  background-color: #0e0e0e;
  color: #FFFFFF;
}

body::-webkit-scrollbar {
  width: 0;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #61bc84);
  animation: moveLine 2.6s linear infinite;
}

@keyframes moveLine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* .HomeSection {
  background-image: url("/assets/home_bg.jpg");
  background-size: 110%;
} */

.text-animated {
  position: relative;
  width: max-content;
}

.text-animated h3 {
  font-weight: 70;
  color: transparent;
  -webkit-text-stroke: 0.7px #61bc84;
  background-image: linear-gradient(#61bc84, #61bc84);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.text-animated h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid #61bc84;
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}


@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -10em 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }
  75%,
  81% {
    opacity: 0;
  }
}

.btn {
  width: max-content;
  display: flex;
  padding: 0.25rem 1.5rem;
  border: none;
  border-radius: 1em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #61bc84;
  background-color: #61bc84;
  color: black;
  transition: 0.3s;
}

.btn:hover {
  color: #61bc84;
  background-color: transparent;
}

.btn span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 35px;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.6s ease;
  border: 1px solid #61bc84;
}

.btn span:nth-child(6) {
  position: relative;
}

.btn span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.btn span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.btn span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.btn span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.btn span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.btn:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #61bc84;
  border-radius: 2.5px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}

.aboutShadow {
  box-shadow: 0px -15px 15px #0e0e0e;
}

:root {
  --color-accent-light: #00DBDE;
  --color-accent-dark: #FC00FF;
  --color-secondary: #ccc;

  --text-color-default: #2c2c2c;
  --text-color-light: #fff;

  --font-size-default: 15px;
  --font-size-lg: 25px;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-default: var(--font-weight-regular);

  --border-color-default: var(--color-secondary);
  --border-color-accent: var(--color-accent-dark);

  --bg-color-default: #fff;
  --bg-color-dark: #2c2c2c;
  --bg-color-accent--lignt: var(--color-accent-light);
  --bg-color-accent--dark: var(--color-accent-dark);

  --transition-duration: .2s;
  --transition-timing-function: linear;
  --transition-delay: 0s;

  --negative-multiplier: -1;

  --gradient-default: linear-gradient(122deg, var(--color-accent-light) 0%, var(--color-accent-dark) 100%);

}



/* TIMELINE STYLES: YOU NEED THEM!!! */
.timeline {
  --wrapper-width: 900px;

  width: 95%;
  max-width: var(--wrapper-width);
  margin: auto;
}

.timeline__stepper {
  --step-border-width: 3px;
  --offset-to-slider-content: 30px;

  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: var(--offset-to-slider-content);
}

@media(min-width: 530px) {
  .timeline__stepper {
      display: flex;
      justify-content: space-around;
      gap: 0;
  }
}

@media(min-width: 700px) {
  .timeline__stepper {
      --offset-to-slider-content: 50px;
  }
}

.timeline__step {
  position: relative;
  width: 100%;
  cursor: pointer;
}

@media(min-width: 530px) {
  .timeline__step {
      width: 100%;;
  }
}

.timeline__icon {
  position: relative;
  display: block;
  width: 3rem;
  height: auto;
  margin: 0 auto;
  transition: opacity var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
}

@media(min-width: 700px) {
  .timeline__icon {
      --timeline-icon-dimensions: 60px;

      margin-bottom: 30px;
  }
}

.timeline__icon--active {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  color: #61bc84;
}

.timeline__step-title {
  --timeline-dot-dimensions: 11px;
  --extra-offset-fox-pixelperfect: -1px;

  position: relative;
  display: none;
  padding-top: 30px;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.7;
  border-top: var(--step-border-width) solid var(--border-color-default);
}

@media(min-width: 700px) {
  .timeline__step-title {
      display: block;
  }
}

.timeline__step-title:before,
.timeline__step-title:after {
  position: absolute;
  top: var(--dot-top-position);
  left: 50%;
  display: block;
  width: var(--timeline-dot-dimensions);
  height: var(--timeline-dot-dimensions);
  content: '';
  border-radius: 50%;
}

.timeline__step-title:before {
  --dot-top-position: calc(
          var(--timeline-dot-dimensions)/2 * var(--negative-multiplier) + var(--extra-offset-fox-pixelperfect)
  );

  transform: translate(-50%);
  border: 2px solid var(--border-color-default);
  border-radius: 50%;
  background-color: #fff;
  z-index: 5;
}

.timeline__step-title:after {
  --timeline-dot-dimensions: 25px;
  --dot-top-position: calc(
          var(--timeline-dot-dimensions)/2 * var(--negative-multiplier) + var(--extra-offset-fox-pixelperfect)
  );

  transform: translate(-50%) scale(0);
  border-radius: 50%;
  background-color: #fff;
}





.timeline__step.is-active .timeline__step-title {
  font-weight: var(--font-weight-semibold);
}

.timeline__step.is-active .timeline__step-title:before {
  transition: background-color var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
  background-color: var(--color-accent-dark);
  border-color: var(--border-color-accent);
}

.timeline__step.is-active .timeline__step-title:after {
  transform: translate(-50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
  background-image: var(--gradient-default);
  opacity: .35;
}

.timeline__step.is-active .timeline__icon--default,
.timeline__step:not(.is-active):hover .timeline__icon--default {
  color: #61bc84;
}

.timeline__step .timeline__icon--active,
.timeline__step:not(.is-active):hover .timeline__icon--active {
  opacity: 1;
  color: #61bc84
}

.timeline__slides {
  --slides-container-height: 0px; /* calcs on the fly in js */

  --content-offset-x: 5px;
  --content-offset-y: 5px;

  --decoration-blur-spread: 20px;
  --decoration-opacity: .7;
  --decoration-pos-x: 0;
  --decoration-pos-y: 20px;
  --decoration-scale: 1;

  position: relative;
  width: 600px;
  max-width: 100%;
  margin: auto;
  height: var(--slides-container-height);
  border-radius: 5px;
  background-color: var(--bg-color-default);
}

@media(min-width: 700px) {
  .timeline__slides {
      --content-offset-x: 30px;
      --content-offset-y: 40px;
  }
}

.timeline__slides:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* content: "";  */
  opacity: var(--decoration-opacity);
  background-image: var(--gradient-default);
  filter: blur(var(--decoration-blur-spread));
  transform: translate3d(var(--decoration-pos-x), var( --decoration-pos-y), 0) scale(var(--decoration-scale));
  z-index: -1;
}



.timeline__slide {
  opacity: 1;
  padding: var(--content-offset-y) var(--content-offset-x);
  visibility: visible;
  border: 1px solid #61bc84;
  box-shadow: #61bc84 0px 5px 15px;

}

.timeline__slide-title {
  margin-top: 0;
}

.timeline__slide-content {
  line-height: 1.7;
}

.timeline__slide-content p:first-child {
  margin-top: 1rem;
}

.timeline__slide-content p:last-child {
  margin-bottom: 0;
}